<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CEAD - Matrícula</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

</head>

<body>

    <nav class="navbar navbar-light bg-light shadow">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'assets/cead_logo.png' %}" alt="Logo do CEAD" class="ms-2 logo d-inline-block align-text-center">
                <span class="ms-2">CEAD | Inscrição</span>
            </a>

            {% if not user.is_anonymous %}
            <div class="d-flex gap-3">
                <span>Usuário: {{user}}</span>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>

            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>