{% extends 'base.html' %}

{% block content %}

{% load custom_tags %}

{% if has_curso %}
    <div class="container mt-5 w-50">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{error|escape}}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div class="shadow p-3 border-top border-primary rounded mb-3">
                <h3>Dados Pessoais</h3>
                <div class="d-flex gap-2 mb-2">
                    <div class="w-25">{{form.cpf.label}}{{form.cpf}}</div>
                    <div class="w-25">{{form.data_nascimento.label}}{{form.data_nascimento}}</div>
                    <div class="w-50 d-flex flex-column">{{form.curso.label}}<span class="w-100">{{form.curso}}</span></div>
                </div>
                <div class="d-flex gap-2 mb-2">
                    <div class="w-50">{{form.nome.label}}{{form.nome}}</div>
                    <div class="w-50">{{form.sobrenome.label}}{{form.sobrenome}}</div>
                </div>
                <div class="d-flex gap-2 mb-2">
                    <div class="w-25">{{form.telefone.label}}{{form.telefone}}</div>
                    <div class="w-50">{{form.email.label}}{{form.email}}</div>
                    <div class="w-25">{{form.siga.label}}{{form.siga}}</div>
                </div>
                <div class="d-flex gap-2 mb-2">
                    {% comment %} <div class="w-25" colspan="3">{{form.possui_siape.label}}{{form.possui_siape}}</div>
                    <div class="w-25" colspan="3"><span id="siape" style="display: none;">{{form.siape.label}}</span>{{form.siape}}</div> {% endcomment %}
                    <div class="w-100"><span id="documentacao">{{form.documentacao.label}}{{form.documentacao}}</div>
                </div>
                <div class="mb-2">
                    <small>*O servidor foi indicado pelo município selecionado no EDITAL Nº 01, DE 03 DE OUTUBRO DE 2022 da UFJF-CRITT.</small>
                </div>
            </div>

            <div class="shadow p-3 border-top border-primary rounded mb-3">
                <h3>Dados Adicionais</h3>

                <h5>Endereço (residência)</h5>
        
                <div class="d-flex gap-2 mb-2">
                    <div class="w-25">{{form.cep.label}}{{form.cep}}</div>
                    <div class="w-50">{{form.logradouro.label}}{{form.logradouro}}</div>
                    <div class="w-25">{{form.numero.label}}{{form.numero}}</div>
                </div>
                <div class="d-flex gap-2 mb-2">
                    <div class="w-25">{{form.complemento.label}}{{form.complemento}}</div>
                    <div class="w-25">{{form.bairro.label}}{{form.bairro}}</div>
                    <div class="w-25">{{form.cidade.label}}{{form.cidade}}</div>
                    <div class="w-25">{{form.uf.label}}{{form.uf}}</div>
                </div>
            </div>

            <div class="shadow p-3 border-top border-primary rounded mb-3">
                <h3>Informações de Vínculo do Servidor com a Prefeitura</h3>

                <div class="w-100">{{form.cargo.label}}{{form.cargo}}</div>
                <div class="d-flex gap-2 mb-2">
                    <div class="w-75">{{form.secretaria.label}}{{form.secretaria}}</div>
                    <div class="w-25">{{form.matricula.label}}{{form.matricula}}</div>
                </div>
            </div>
            <button id="submit" type="submit" class="btn btn-primary px-3 mb-4 d-flex align-items-center gap-2">
                <span id="loading" class="spinner-border spinner-border-sm text-light" style="display: none;"role="status"></span>
                Enviar
            </button>
        </form>
    </div>
{% else %}
    <span class="shadow p-4 rounded-3 position-absolute top-50 start-50 translate-middle">
        No momento, o CEAD não está oferecendo cursos nessa modalidade de inscrição.
    </span>
{% endif %}

<script>
    $(document).ready(function(){
        $('#id_cpf').mask('000.000.000-00', {reverse: true});
        $('#id_cep').mask('00000-000');

        var PhoneMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        Options = {
            onKeyPress: function(val, e, field, options) {
                field.mask(PhoneMaskBehavior.apply({}, arguments), options);
            }
        };
        $('#id_telefone').mask(PhoneMaskBehavior, Options);

        flag_list = {{flag_curso_list}}
        val = Number($('#id_curso').val())
        if(flag_list.includes(val)){
            $('#id_documentacao').show(0).css('opacity', '1').css('transform', 'translateX(0)');
            $('#documentacao').show(0).css('opacity', '1').css('transform', 'translateX(0)');
        }else{
            $('#id_documentacao').css('opacity', '0').css('transform', 'translateX(75%)').delay(1000).hide(0);
            $('#documentacao').css('opacity', '0').css('transform', 'translateX(75%)').delay(1000).hide(0);
        }
        
        $('#id_curso').select2();
    });
    
    $('#id_cep').on('change', async function(){
        const response = await fetch('https://viacep.com.br/ws/' + $('#id_cep').val().replace('-','') + '/json/');
        if(response.status == 200){
            var data = await response.json();

            $('#id_logradouro').val(data.logradouro);
            $('#id_complemento').val(data.complemento);
            $('#id_bairro').val(data.bairro);
            $('#id_uf').val(data.uf);
            $('#id_cidade').val(data.localidade);
            $('#id_uf').val(data.uf).trigger('change');
        }
    })

    $('#id_possui_siape').change(function(){
        if($('#id_possui_siape').val() == 'True'){
            $('#id_siape').show(0).css('opacity', '1').css('transform', 'translateX(0)');
            $('#siape').show(0).css('opacity', '1').css('transform', 'translateX(0)');
        }else{
            $('#id_siape').css('opacity', '0').css('transform', 'translateX(-110%)').delay(1000).hide(0);
            $('#siape').css('opacity', '0').css('transform', 'translateX(-110%)').delay(1000).hide(0);
        }
    })

    $('#id_curso').change(function(){
        flag_list = {{flag_curso_list}}
        val = Number($('#id_curso').val())
        if(flag_list.includes(val)){
            $('#id_documentacao').show(0).css('opacity', '1').css('transform', 'translateX(0)');
            $('#documentacao').show(0).css('opacity', '1').css('transform', 'translateX(0)');
        }else{
            $('#id_documentacao').css('opacity', '0').css('transform', 'translateX(75%)').delay(1000).hide(0);
            $('#documentacao').css('opacity', '0').css('transform', 'translateX(75%)').delay(1000).hide(0);
        }
    })

    $('.errorlist').addClass('border');

    $('form').on('submit', () => {
        $('#loading').css('display', 'inline')
    })
</script>

{% endblock %}
