{% extends "base.html" %}

{% block content %}

    <div class="container w-50 p-5 mt-5">
        <div class="card w-100">
            <div class="card-header">
                CEAD informa:
            </div>
            <div class="card-body">
                <h5 class="card-title">Seu cadastro foi realizado com sucesso</h5>
                <p class="card-text">
                    A sua confirmação de matrícula será enviada ao decorrer da semana para o e-mail informado.
                    Verifique também sua caixa de spam!
                </p>
            </div>
        </div>
        <div class="text-center mt-3 text-danger">
            <small>Você pode fechar essa página</small>
        </div>
    </div>

{% endblock %}