{% extends "base.html" %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}    
<div class="container w-50 p-5 mt-5">
    <div class="card w-100">
        <div class="card-header">
            CEAD informa:
        </div>
        <div class="card-body">
            <h5 class="card-title">O cadastro do curso foi realizado com sucesso</h5>
            <p class="card-text">
                Para maiores informações, entre em contato com o suporte CEAD: suporte.cead@ufjf.br
            </p>
        </div>
    </div>
    <div class="text-center mt-3 text-danger">
        <small>Você pode fechar essa página</small>
    </div>
</div>

{% endblock %}