a{
    text-decoration: none;
}

.logo{
    height: 2rem;
    width: auto;
    /* filter: grayscale(1.0); */
}

.card{
    width: 25rem;
}

.custom_thead{
    background-color: #dee2e6;
}

.date{
    width: 10rem;
}

.number,
.simnao{
    width: 6rem;
}

.sidebar{
    height: calc(100vh - 3.75rem);
    width: 20vw;
    background-color: #dee2e6;
}

table input{
    width: 100%;
}

.errorlist{
    color: red;
}

#id_siape, #siape{
    display: inline-block;
    transform: translateX(-110%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

#id_documentacao, #documentacao{
    display: inline-block;
    transform: translateX(75%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.border-primary{
    border-color:#ae1f25 !important
}

.bg-primary{
    background-color:#ae1f25 !important
}

.btn-primary{
    color:#fff;
    background-color:#ae1f25;
    border-color:#ae1f25;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #80181d;
    border-color:#ae1f25;
}

.menuContainer{
    height: 75vh;
    width: 20rem;
}